body {
  margin: 0;
}

.p {
  border: inherit;
  padding: inherit;
}

.hara {
  margin: 0;
  padding: 0;
}

.navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
  background-color: #232929;
  font-family: Calibri;
  font-size: 18px;
}

.nav {
  float: right;
  padding: 0px;
}

ul li {
  display: inline-flex;
  margin-right: 70px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  padding: 25px 10px;
  color: white;
  font-family: calibri;
  font-size: 20px;
}

.logo {
  float: left;
  color: white;
  font-size: 30px;
  padding-top: 35px;
}

ul li:hover {
  transform: scale(1.2);
}

.trace {
  width: 100%;
}

.clo {
  height: 60px;
  width: 60px;
  float: left;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-right: 10px;
}

.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.floating-button:hover {
  background: #2ee59d;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  transform: translateY(-7px);
}

#left {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  margin-top: 15%;
  margin-left: 10%;
}
#right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  margin-top: 25%;
  text-align: center;
}

.closing-button {
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  color: white;
  box-shadow: 0 0 0 2px white;
  padding: 20px 0;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}
.closing-button span {
  font-family: "Montserrat", sans-serif;
  position: relative;
  z-index: 5;
}
.closing-button:before,
.closing-button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.closing-button:before {
  transform: translateX(-100%);
  background: white;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.closing-button:after {
  background: #413ad5;
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.16, 0.73, 0.58, 0.62) 0.3s;
}
.closing-button:hover:before,
.closing-button:hover:after {
  transform: translateX(0);
}

body {
  background: #163068;
}

.clock {
  position: absolute;
  top: 0px;
  left: 32%;
  /*margin: -60px auto 0 auto;*/
  font-size: 20px;
  font-family: "Arial Black", sans-serif;
  text-align: center;
  color: #fff;
}

.clock ul li {
  display: inline;
}
.clock ul li#separator {
  -moz-animation: myfade 2s ease infinite;
  -webkit-animation: myfade 2s ease infinite;
}

.index {
  margin-top: 5%;
}

#cont1 {
  position: relative;
  margin: 5%;
  margin-top: 25px;
  width: 90%;
  height: auto;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 2px;
  border-radius: 30px 1px;
}
