#right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  margin-top: 15%;
  text-align: center;
  margin-right: 5%;
  width: 50%;
  border-radius: 5px;
  opacity: 0.8;
  background: #696bd0;
}

#left {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  margin-top: 5%;
  margin-left: 10%;
}
